h1{
    font-size: 20px;
}
body{
    border-top: 2px;
    border-top-color: black;
    padding-left: 2cm;
    padding-top: 2cm;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 14px;
    color: green;
}
p{
    font-size: 12px;
}
ul{
    font-size: 12px;
}

h3{
    font-size: 16px;
    color: blue;
}